@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

* {
  margin :0;
  padding:0;
  box-sizing: border-box
}
.menu-area a {
  display: flex;
  height: 60px;
  color:#FFFFFF;
  background: #262626;
  text-decoration: none;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.menu-area a:hover {
  background: #565656;
  color:#FFFFFF;
}

.menu-area ul {
  list-style: none;
  display: flex;
  z-index: 10;
}
.menu-area ul li {
  position: relative;
  width:100%;
  text-align: center;
}
.menu-area li :hover .menu-one >li {
  display:block;
  top:0;
}
.menu-area li {
display: none;
position: relative;
}
.menu-one {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-one li:hover .menu-two li {
  display: block;
}

.menu-two li {
  display: none;
}

.menu-two {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left:100;
}