@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
* {
  margin:0;
  padding: 0;
}
body {
  background: #FF6540;
  font-family: Poppins;
}

.banner-area  {
  max-width: 960px;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: Poppins;

}   

.banner-area h2 {
  padding:20px;
  text-align: center;
  font-family: Audiowide;
}

.menu-area {
  display: flex;
  list-style: none;
}

.menu-area li {
background: #262626;
flex-grow: 1;
text-align: center;
}
.menu-area li:not(:first-child) {
  border-left: 2px solid #fff;
}

.menu-area li:hover {
  background: #333;
}
.menu-area li a {
  display: block;
  padding:15px 0;
  color :inherit;
  text-decoration: none;
  text-transform: uppercase;
}
input[type=checkbox], .res-menu {
  display: none;
}

@media screen and (max-width:600px) {
  .res-menu {
    display:  flex;
    justify-content: center;
    padding:20px 0;
    background: #000;
    text-transform: uppercase;
    font-family: Poppins;
    cursor:pointer;
  }
  .menu-area {
    display: none;
  }
  input[type=checkbox]:checked ~ .menu-area {
    display: block;
  }
  .menu-area li:not(:first-child) {
    border: 0;
  }
  .menu-area li:not(:last-child) {
    margin: 2px 0;
  }
}
